& {
  background: $background-primary-color;
  color: $primary-text-color;
}

h1,
h2,
h3 {
  font-family: $heading-font;
}

.sidebar {
  background: $primary-background-color;

  external-links {
    margin-top: 30px;

    &::shadow paper-icon-button::shadow #icon {
      color: $link-color;
      height: 25px;
      width: 25px;
    }
  }
}

content-element::shadow {
  core-animated-pages {
    height: 98%;
    overflow: hidden;
    width: 98%;

    > * {
      background: $primary-background-color;
      border-radius: 5px;
      //position: relative;
    }

    @media all and (max-width: $phone-size-limit) {
      height: 100%;
      width: 100%;
    }
  }

  section {
    padding: 5px;

    h2 a:hover {
      text-decoration: underline;
    }

    &>div {
      padding: 10px 0;
    }
  }

  .buttons paper-button {
    margin-bottom: 5px;
  }

  .action-buttons>div {
    width: 220px;

    paper-fab[mini] {
      margin-right: 7px;
    }
  }

  .icon-buttons>div {
    width: 250px;
  }
}

paper-fab[icon="add"] {
  bottom: 32px;
  position: fixed;
  right: 32px;

  @media all and (max-width: $phone-size-limit) {
    bottom: 16px;
    right: 16px;
  }
}
