@import '../polymer-theme/sass/variables';

// Media Query
$phone-size-limit:      '640px';

// Roboto Font Combinations
// https://github.com/StartPolymer/polymer-theme/wiki/Roboto-Font-Combinations
$heading-font-name:     'roboto-slab';
$font-lang:             'en';
@import '../polymer-theme/sass/fonts/base';

@import '../polymer-theme/sass/reset';

body {
  font-family: $body-font;
  @extend .text_body_1;
  
  /deep/ {
    h1,
    h2,
    h3 {
      font-family: $heading-font;
    }
  }
}

@import 'themes';
