.dropdown-menu {
  &_primary {
    color: $color-text-primary;
  }

  &_secondary {
    color: $color-text-secondary;
  }

  &_success {
    color: $color-text-success;
  }

  &_info {
    color: $color-text-info;
  }

  &_warning {
    color: $color-text-warning;
  }

  &_error {
    color: $color-text-error;
  }
}
