.icon-button {
  &_primary {
    color: $color-text-primary;

    &_disabled {
      color: $color-text-primary-disabled;
    }
  }

  &_secondary {
    color: $color-text-secondary;

    &_disabled {
      color: $color-text-secondary-disabled;
    }
  }

  &_success {
    color: $color-text-success;

    &_disabled {
      color: $color-text-success-disabled;
    }
  }

  &_info {
    color: $color-text-info;

    &_disabled {
      color: $color-text-info-disabled;
    }
  }

  &_warning {
    color: $color-text-warning;

    &_disabled {
      color: $color-text-warning-disabled;
    }
  }

  &_error {
    color: $color-text-error;

    &_disabled {
      color: $color-text-error-disabled;
    }
  }
}
