/deep/ {
  .focused-underline,
  .unfocused-underline,
  .cursor {
    background: $primary-color;
  }

  .label-text {
    color: $primary-color;
  }

  ::-webkit-input-placeholder {  
    color: $primary-color;
  }

  ::-moz-placeholder {  
    color: $primary-color;
  }

  :-ms-input-placeholder {  
    color: $primary-color;
  }
}

&[focused] /deep/ {
  .floated-label .label-text {
    color: $primary-color;
  }
}