paper-toast {
  &[success] {
    background: $success-color;
  }

  &[info] {
    background: $info-color;
  }

  &[warning] {
    background: $warning-color;
  }

  &[error] {
    background: $error-color;
  }
}
