.polymer-theme-red-blue {
  $primary-color-name:    'red';
  $secondary-color-name:  'blue';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-pink-light-blue {
  $primary-color-name:    'pink';
  $secondary-color-name:  'light-blue';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-purple-yellow {
  $primary-color-name:    'purple';
  $secondary-color-name:  'yellow';
  @import 'bower_components/polymer-theme/sass/variables';
  $text-accent-color:     $dark-primary-color;
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-deep-purple-light-blue {
  $primary-color-name:    'deep-purple';
  $secondary-color-name:  'light-blue';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-indigo-pink {
  $primary-color-name:    'indigo';
  $secondary-color-name:  'pink';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-blue-pink {
  $primary-color-name:    'blue';
  $secondary-color-name:  'pink';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-light-blue-lime {
  $primary-color-name:    'light-blue';
  $secondary-color-name:  'lime';
  @import 'bower_components/polymer-theme/sass/variables';
  $text-accent-color:     $dark-primary-color;
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-cyan-orange {
  $primary-color-name:    'cyan';
  $secondary-color-name:  'orange';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-teal-amber {
  $primary-color-name:    'teal';
  $secondary-color-name:  'amber';
  @import 'bower_components/polymer-theme/sass/variables';
  $text-accent-color:     $dark-primary-color;
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-green-yellow {
  $primary-color-name:    'green';
  $secondary-color-name:  'yellow';
  @import 'bower_components/polymer-theme/sass/variables';
  $text-accent-color:     $dark-primary-color;
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-light-green-deep-orange {
  $primary-color-name:    'light-green';
  $secondary-color-name:  'deep-orange';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-lime-light-blue {
  $primary-color-name:    'lime';
  $secondary-color-name:  'light-blue';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-yellow-orange {
  $primary-color-name:    'yellow';
  $secondary-color-name:  'orange';
  @import 'bower_components/polymer-theme/sass/variables';
  $link-color:            $secondary-text-color;
  $text-primary-color:    $primary-text-color;
  $text-accent-color:     $primary-text-color;
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-amber-indigo {
  $primary-color-name:    'amber';
  $secondary-color-name:  'indigo';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-orange-light-blue {
  $primary-color-name:    'orange';
  $secondary-color-name:  'light-blue';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-deep-orange-blue {
  $primary-color-name:    'deep-orange';
  $secondary-color-name:  'blue';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-brown-amber {
  $primary-color-name:    'brown';
  $secondary-color-name:  'amber';
  @import 'bower_components/polymer-theme/sass/variables';
  $text-accent-color:     $dark-primary-color;
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-grey-blue {
  $primary-color-name:    'grey';
  $secondary-color-name:  'blue';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}

.polymer-theme-blue-grey-pink {
  $primary-color-name:    'blue-grey';
  $secondary-color-name:  'pink';
  @import 'bower_components/polymer-theme/sass/base';
  @import 'psk-base';
}
