// Markdown Styles from GitHub
.markdown-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
  }

  h1 {
    border-bottom: 1px solid #eee;
    font-size: 2.25em;
    line-height: 1.2;
    padding-bottom: .3em;
  }

  h2 {
    border-bottom: 1px solid #eee;
    font-size: 1.75em;
    line-height: 1.225;
    padding-bottom: .3em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    color: #777;
    font-size: 1em;
  }

  blockquote {
    padding: 0 15px;
    margin-top: 0;
    margin-bottom: 16px;
    color: #777;
    border-left: 4px solid #ddd;
  }

  p code {
    padding: 0;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 3px;
  }

  pre {
    margin-top: 0;
    margin-bottom: 16px;
    word-break: normal;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
    margin-bottom: 16px;

    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;
    }

    tr:nth-child(2n) {
      background-color: #f8f8f8;
    }

    th {
      font-weight: bold;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 6px 13px;
    }
  }
}
