@import 'bower_components/polymer-theme/sass/modules/material-colors';
@import 'psk-variables';
@import 'bower_components/polymer-theme/sass/fonts';

body {
  font-family: $body-font;

  // Hack for mobile
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

@import 'psk-themes';
