& {
  color: $primary-text-color;
}

.sidebar {
  background-color: $background-color;

  external-links {
    margin-top: 30px;

    &::shadow paper-icon-button::shadow #icon {
      color: $link-color;
      height: 25px;
      width: 25px;
    }
  }
}

main {
  padding: 0 20px;

  a {
    color: $link-color;
  }

  // CSS Fluid Image
  // http://demosthenes.info/blog/586/CSS-Fluid-Image-Techniques-for-Responsive-Site-Design
  img {
    height: auto;
    max-width: 100%;
  }

  core-icon[icon="custom-icons:markdown"] {
    color: $tertiary-text-color;
    height: 50px;
    width: 50px;
  }
}

footer {
  height: 50px;
}
