// Based on Material Design Typography
// http://www.google.com/design/spec/style/typography.html#typography-standard-styles
// Inspired by http://brm.io/material-design-type/

& {
  &_display {
    &_4 {
      font-size: 112px;
      font-weight: 300;
      letter-spacing: -5px;
      line-height: 128px;
    }

    &_3 {
      font-size: 56px;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 72px;
    }

    &_2 {
      font-size: 45px;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 61px;
    }

    &_1 {
      font-size: 34px;
      font-weight: 400;
      line-height: 50px;
    }
  }

  &_headline {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  &_title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .05px;
    line-height: 28px;
  }

  &_subhead {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 24px;

    @media all and (max-width: $phone-width-max) {
      font-size: 16px;
    }
  }

  &_body {
    &_2 {
      font-size: 13px;
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 24px;

      @media all and (max-width: $phone-width-max) {
        font-size: 14px;
      }
    }

    &_1 {
      font-size: 13px;
      font-weight: 400;
      letter-spacing: .1px;
      line-height: 24px;

      @media all and (max-width: $phone-width-max) {
        font-size: 14px;
      }
    }
  }

  &_caption {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
  }

  &_button {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
