$toolbar-size-height:       64px;
$phone-width-max:           '640px';

.page {
  padding-top: calc((100vh - #{$toolbar-size-height} - 16px)/4);

  @media all and (max-width: $phone-width-max) {
    padding-top: 0;
  }

  &__example {
    padding-bottom: 32px;

    @media all and (max-width: $phone-width-max) {
      padding-bottom: 16px;
    }

    .button {
      margin-bottom: 5px;
    }
  }

  &__title {
    // empty
  }
}
