paper-button {
  &[primary] {
    color: $dark-primary-color;
  }

  &[secondary] {
    color: $dark-secondary-color;
  }

  &[success] {
    color: $dark-success-color;
  }

  &[info] {
    color: $dark-info-color;
  }

  &[warning] {
    color: $dark-warning-color;
  }

  &[error] {
    color: $dark-error-color;
  }

  &[link] {
    color: $link-color;
  }

  &[disabled] {
    &[primary] {
      color: $light-primary-color;
    }

    &[secondary] {
      color: $light-secondary-color;
    }

    &[success] {
      color: $light-success-color;
    }

    &[info] {
      color: $light-info-color;
    }

    &[warning] {
      color: $light-warning-color;
    }

    &[error] {
      color: $light-error-color;
    }

    &[link] {
      background: $primary-background-color;
      color: $disabled-link-color;
    }
  }

  &[raised] {
    &[primary] {
      background: $primary-color;
      color: $text-primary-color;
    }

    &[secondary] {
      background: $secondary-color;
      color: $text-secondary-color;
    }

    &[success] {
      background: $success-color;
      color: $text-success-color;
    }

    &[info] {
      background: $info-color;
      color: $text-info-color;
    }

    &[warning] {
      background: $warning-color;
      color: $text-warning-color;
    }

    &[error] {
      background: $error-color;
      color: $text-error-color;
    }
  }
}
