* {
  box-sizing: border-box;
}

html {
  // Font anti-aliasing
  font-smoothing: antialiased;

  // Overrides the highlight color shown when the user taps a link
  // on iOS Safari and Chrome for Mobile
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  // Text may be inflated of this exact proportion on iOS Safari
  text-size-adjust: 100%;

  // Disable default callout shown when you touch and hold a touch target
  -webkit-touch-callout: none;
}

html /deep/ {
  a {
    color: currentColor;
    text-decoration: none;
  }

  b,
  strong {
    @extend .text_body_2;
  }

  svg {
    fill: currentColor;
  }
}
