// Roboto Font Combinations
// https://github.com/StartPolymer/polymer-theme/wiki/Roboto-Font-Combinations
$font-name-heading:     'roboto';
$font-lang:             'en';

@import 'bower_components/polymer-theme/sass/base';

body {
  @extend %text_body_1;
  font-family: $font-body;

  /deep/ {
    h1,
    h2,
    h3 {
      font-family: $font-heading;
    }
  }
}

@import 'themes';
