.page {
  &__height {
    &_1 {
      height: 40px;
    }

    &_2 {
      height: 46px;
    }
  }

  &__img_typography {
    margin-top: 19px;
    width: 760px;
  }

  &__section_grey {
    background: #eee;
  }
}

.text {
  background: #fff;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
