$toolbar-size-height:       64px;
$phone-width-max:           '640px';

.page {
  padding-top: calc((100vh - #{$toolbar-size-height} - 16px)/4);

  @media all and (max-width: $phone-width-max) {
    padding-top: 0;
  }

  &__example {
    margin-bottom: 32px;
    width: 220px;

    @media all and (max-width: $phone-width-max) {
      margin-bottom: 16px;
    }

    .fab[mini] {
      margin-right: 7px;
    }
  }

  &__title {
    // empty
  }
}
