- lang = 'en'
- charset = 'utf-8'
- title = 'Polymer Starter Kit'
- description = ''
- viewport = 'width=device-width, initial-scale=1'
- manifest = '/psk-manifest.json'
- images_path = '/images/psk-touch/'

//- Theme
- theme = 'polymer-theme'
- theme_color = '#3F51B5' //- Indigo 500

//- External links URL
- github_url = 'https://github.com/StartPolymer/polymer-starter-kit'
- stackedit_url = 'https://stackedit.io/viewer#!url=http://polymer-starter-kit.startpolymer.org/pages/'
