body(class=theme, unresolved): template#app(is='auto-binding')
  // Use CSS media queries for responsiveness
  // https://developers.google.com/web/fundamentals/layouts/rwd-fundamentals/use-media-queries
  core-media-query(query='max-width: 640px', querymatches='{{isPhoneSize}}')   
  
  core-drawer-panel
    // Drawer
    core-header-panel(drawer)
      // Drawer Toolbar
      core-toolbar
        a(href='#top', hidden?='{{isPhoneSize}}', layout, horizontal, center)
          span(fit)
          core-icon(icon='custom-icons:start-polymer')
          = title
        span(hidden?='{{!isPhoneSize}}') Menu
      // Navigation links
      // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav
      nav: core-selector(selected='0')
        paper-item
          a(href='#start-polymer', layout, horizontal, center)
            // Hack for fit <a> element
            // https://github.com/Polymer/paper-item/issues/14
            span(fit)
            core-icon(icon='custom-icons:start-polymer')
            | Start Polymer
        paper-item
          a(href='#polycasts', layout, horizontal, center)
            span(fit)
            core-icon(icon='av:videocam')
            | Polycasts
        paper-item
          a(href='#polymer-with-markdown', layout, horizontal, center)
            span(fit)
            core-icon(icon='custom-icons:markdown')
            | Polymer with Markdown
      div.external-links(hidden?='{{!isPhoneSize}}', layout, horizontal, center-center)
        include psk-external-links
                
    // Main
    core-header-panel(main)
      a(id='top')
      header
        // Main Toolbar
        core-toolbar
          span(flex)
            span(hidden?='{{!isPhoneSize}}', layout, horizontal, center)
              core-icon(icon='custom-icons:start-polymer')
              = title
          paper-icon-button(icon='menu', core-drawer-toggle)
          span(hidden?='{{isPhoneSize}}')
            include psk-external-links
      // Main Content with Markdown
      main.markdown-body
        include:md ../pages/start-polymer.md
      footer

  // build:js /scripts/vendor.js
  // bower:js
  // endbower
  // endbuild
  
  // build:js /scripts/app.js
  script(src='/scripts/psk-app.js')
  // endbuild
