// Markdown Button
a(href=stackedit_url + 'psk.md', target='_blank')
  paper-icon-button(icon='custom-icons:markdown', title='Markdown source')
// GitHub Buttons
a(href=github_url, target='_blank')
  paper-icon-button(icon='custom-icons:github-mark', title='GitHub Repo')
a(href=github_url + '/fork', target='_blank')
  paper-icon-button(icon='custom-icons:github-fork', title='GitHub Fork')
a(href=github_url + '/issues', target='_blank')
  paper-icon-button(icon='custom-icons:github-issue', title='GitHub Issues')
