//- Layout
- lang = 'en'
- charset = 'utf-8'
- title = 'Polymer Starter Kit'
- description = ''
- theme_color = '#3F51B5' //- Indigo 500
- theme = 'polymer-theme'
- github_url = 'https://github.com/StartPolymer/polymer-starter-kit'
- stackedit_url = 'https://stackedit.io/viewer#!url=http://polymer-starter-kit.startpolymer.org/pages/'
