.button {
  @extend .text_button;

  &_primary {
    color: $color-text-primary;
  }

  &_secondary {
    color: $color-text-secondary;
  }

  &_success {
    color: $color-text-success;
  }

  &_info {
    color: $color-text-info;
  }

  &_warning {
    color: $color-text-warning;
  }

  &_error {
    color: $color-text-error;
  }

  &_link {
    color: $color-text-link;
  }

  &_disabled {
    &_primary {
      color: $color-primary-light;
    }

    &_secondary {
      color: $color-secondary-light;
    }

    &_success {
      color: $color-success-light;
    }

    &_info {
      color: $color-info-light;
    }

    &_warning {
      color: $color-warning-light;
    }

    &_error {
      color: $color-error-light;
    }

    &_link {
      background: transparent;
      color: $color-text-link-disabled;
    }
  }

  &_raised {
    &_primary {
      background: $color-primary;
      color: $color-primary-text;
    }

    &_secondary {
      background: $color-secondary;
      color: $color-secondary-text;
    }

    &_success {
      background: $color-success;
      color: $color-success-text;
    }

    &_info {
      background: $color-info;
      color: $color-info-text;
    }

    &_warning {
      background: $color-warning;
      color: $color-warning-text;
    }

    &_error {
      background: $color-error;
      color: $color-error-text;
    }
  }
}
