h1 {
  font-size: $font-h1-size;
  margin: $font-h1-margin;
}

h2 {
  font-size: $font-h2-size;
  margin: $font-h2-margin;
}

h3 {
  font-size: $font-h3-size;
  margin: $font-h3-margin;
}

h4 {
  font-size: $font-h4-size;
  margin: $font-h4-margin;
}

h5 {
  font-size: $font-h5-size;
  margin: $font-h5-margin;
}

h6 {
  font-size: $font-h6-size;
  margin: $font-h6-margin;
}
