.icon-button {
  &_primary {
    color: $color-text-primary;
  }

  &_secondary {
    color: $color-text-secondary;
  }

  &_success {
    color: $color-text-success;
  }

  &_info {
    color: $color-text-info;
  }

  &_warning {
    color: $color-text-warning;
  }

  &_error {
    color: $color-text-error;
  }

  &_disabled {
    &_primary {
      color: $color-text-primary-disabled;
    }

    &_secondary {
      color: $color-text-secondary-disabled;
    }

    &_success {
      color: $color-text-success-disabled;
    }

    &_info {
      color: $color-text-info-disabled;
    }

    &_warning {
      color: $color-text-warning-disabled;
    }

    &_error {
      color: $color-text-error-disabled;
    }
  }
}
